@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body, #root{
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px 50px 50px;
}

.title, .welcome-text, .zen-phrase, 
.previous-list, .previous-list>div,
.zen-phrase>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    font-family: 'Yeseva One', cursive;
    font-size: 57px;
    color: white;
    background-color: #FD466F;
}

.welcome-text{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    color: aliceblue;
    background-color: #133849;
    border-radius: 7px;
    text-align: center;
    padding: 10px 25px;
    box-shadow: 0px 1px 20px -1px #2d2626;
}

.zen-phrase{
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    margin: 35px 0px 0px;
}

.zen-phrase>div{
    margin-bottom: 10px;
    font-size: 30px;
    height: 50%;
    border-radius: 7px;
    width: 75%;
    flex-wrap: wrap;
}
.zen-phrase>div.fade-in{
    animation: fade-in 1.5s linear;
    text-align: center;
}
.zen-phrase>div.fade-out{
    animation: fade-out 1s linear;
    text-align: center;
}

.zen-phrase>button{
    color: white;
    border-radius: 6px;
    box-shadow: 5px 1px 21px rgba(0, 0, 0, 0.2);
    background: #133849;
    height: 41px;
}

.previous-list, .previous-list>div{
    flex-direction: column;
    margin: 10px 0px 15px;
}

.previous-list>a{
    font-size: 15px;
}

.box-list-previous{
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    width: 80%;
}

@keyframes fade-in {
    from { opacity : 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity : 1; }
    to { opacity: 0; }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  
    html, body, #root{
        font-size: 15px;
    }

    .zen-phrase>div{
        font-size: 24px;
    }

    .title{
        font-size: 30px;
    }
}

/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
    html, body, #root{
        font-size: 15px;
    }    
    .title{
        font-size: 30px;
    }
    .zen-phrase>div{
        font-size: 20px;
    }
}

/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .title{
        font-size: 20px;
    }
    .welcome-text{
        font-size: 12px;
        padding: 0px 5px;
    }
    .zen-phrase>div{
        font-size: 15px;
    }
} 